<header class="hero-unit">
    <h1>Hi there!</h1>
    <p class="lead">Welcome to our Group Chat Messenger! Sign in to get started</p>
    <img src="assets/images/yeoman.png" alt="Chat Yoeman" />
</header>
<p uib-alert ng-if="$ctrl.alertMsg" ng-class="'alert-' + ($ctrl.alertMsg.type || 'warning')"
ng-bind="$ctrl.alertMsg.text"></p>
<section class="container">
    <form role="form" class="form-inline" ng-submit="$ctrl.loginUser()">
        <div class="form-group">
            <input type="text" class="form-control" required ng-model="$ctrl.username" autofocus
            placeholder="Username" />
        </div>
        <div class="form-group">
            <input type="password" class="form-control col-xs-12" required ng-model="$ctrl.password"
            placeholder="Password"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-info">
                <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;Login
            </button>
        </div>
    </form>
</section>
<section class="container">
    <p uib-alert class="alert-info" ng-click="isPanelOpen = !isPanelOpen">
        Click here to Register!
    </p>
    <div uib-collapse="!isPanelOpen">
        <form role="form" class="form form-horizontal" ng-submit="$ctrl.addUser()">
            <input type="text" class="form-control" required="required"
            ng-model="$ctrl.username" placeholder="Username" ng-blur="$ctrl.checkUser()" /><br/>
            <input type="email" class="form-control" required="required"
            ng-model="$ctrl.email" placeholder="E-mail address" /><br/>
            <input type="password" class="form-control" required="required"
            ng-model="$ctrl.password" placeholder="New Password"/><br/>
            <input type="password" class="form-control" required="required"
            ng-model="$ctrl.confirmpwd" placeholder="Confirm New Password"/><br/>
            <button type="submit" class="pull-right btn btn-info">Submit</button>
        </form>
    </div>
    <h1 class="page-header">Features:</h1>
    <ul class="nav col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li uib-tooltip="{{thing}}" tooltip-placement="top-left">- {{thing}}</li>
    </ul>
</section>
<hr/>
